
html{
    height: 100%;
    overflow: hidden;

    @media screen and (max-width: 1200px) {
        font-size: 14px;
    }

    @media screen and (max-width: 900px) {
        font-size: 12px;
    }

    @media screen and (max-width: 768px) {
        font-size: 10px;
    }

    // @media screen and (max-width: 700px) {
    //     font-size: 8px;
    // }
}

body{
    width: 100%;
    height: 100%;
	font-family: quicksand, sans-serif;
	font-size: 1.5rem;
    overflow: hidden;
    background: #222;
    @include perspective(1000px);
}

h1, h2, h3{
	font-size: 7rem;
	font-weight: 800;
	color: white;
	text-align: center;
	
	&.cliptext{
        &.clipping{
            background: url(../assets/images/textures/White.png) repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
	}
}

h2{
	font-size: 6rem;
}

h3{
	font-size: 5rem;
}

.quicksand{
    font-family: quicksand;
}

.lavanderia{
    font-family: sofia;
}

.balance-text{
    text-wrap: balanced;
}

.view{
	display: none;
	position: absolute;
    width: 100vw;
    height: 100vh;
	
	&.in{
		display: block;
	}
}

.flex{
	-webkit-flex-direction: column;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	
	&.in{
		display: -webkit-flex;
	}
}

#navigation{
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    -webkit-justify-content: center;
	position: absolute;
    width: 100vw;
    margin-top: 5rem;
	z-index: 3;
    @include transform(scale(0.8));

    @media screen and (max-width: 800px) {
        position: absolute;
        bottom: 0;
        margin-top: 0rem;
        @include transform(none);
	    -webkit-mask: url(../assets/images/textures/nav_item_bg.png);
    }

    @media screen and (max-height: 640px) {
        position: absolute;
        bottom: 0;
    }
}

.subhead{
	width: 50%;
    margin: auto;
    line-height: 2rem;
	font-weight: 600;
	text-align: center;
}

#background{
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 0;
}

#main-container{
    width: 100vw;
    height: 100vh;
}

#view-container{
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 1;
    -webkit-mask-image: none;

    &.mask{
    	-webkit-mask-image: -webkit-canvas(mask);
	    -webkit-mask-size: 100% 100%;
    }
}

footer{
	z-index: 10000;
	position: fixed;
	bottom: 0;
	font-size: 10px;
	padding: 5px;
	color: #ccc;
	background: black;
	
	a{
		color: #666;
	}
}
