/* ipad mini: landscape*/
@media screen 
    and (max-device-width: 1024px) 
    and (min-device-width: 768px) 
    and (orientation: landscape) {

    #navigation{
        @include transform(scale(0.7));    
    }

    .go-to-item{
        font-size: 1.2rem;
    }

    .alton-paragraph{
        img{
            width: 100px;
            -webkit-shape-outside: circle(0, 0, 0);
        }
    }

    #alton-cupacakes-bottom{
        display: block;
        @include transform(scale(0.75));
    }

    .frosting-mix-slide p {
        font-size: 1em;
    }

    .container-toggle{
        img{
            height: 25em;
        }
    }

}

