/* ipad mini: portrait*/
@media screen 
    and (max-device-width: 1024px) 
    and (min-device-width: 768px) 
    and (orientation: portrait) {

    html{
        font-size: 14px;
    }

    #navigation{
        @include transform(scale(0.8));    
    }

     #view-frosting{
        font-size: .75rem;

        .frosting-title-rotated{
            right: -2.3em;
        }
    }

    .frosting-item--seven{
        top: 40%;
    }

    #view-frostin-mix-in-palette {
        font-size: .8rem;
        margin-top: 100px;
    }

    .frosting-mix-item span {
        width: 100px;
    }

    .frosting-mix-slide p {
        font-size: 1em;
    }

}

