
.paper_bg{
    background-color: #e9e8e6;
}

#view-american{

    @media screen and (max-width: 490px) {
        overflow-y: auto;
        overflow-x: hidden;
    }

    h3{
        margin-top: 5rem;
    }

    h3, h2{
		position: relative;
        margin-left: 2rem;
    	z-index: 1;
	}

    .subhead{
        position: relative;
        box-sizing: border-box;
        width: 70vw;
        padding-right: 1em;
        font-size: 2.2rem;
	    color: #f4edaa;
        text-align: center;
        line-height: 1.5em;
    	z-index: 1;
        
        @media screen and (max-width: 490px) {
            width: auto;
            text-align: left;
            margin: 2em;
        }
    }

    .american-list{
        position: relative;
        box-sizing: border-box;
        margin-top: 2rem;
        margin-right: 2rem;
        padding-left: 20vw;
        padding-right: 5em;
        text-align: right;
        font-size: 1.3rem;
        font-weight: bold;
        width: 100vw;
        z-index: 2;

        @media screen and (max-width: 490px) {
            text-align: left;
            line-height: 1.5;
            margin-left: 1rem;
            padding-left: 0;
        }
    }
}

.american-item{
    display: inline-block;
    padding: .5em 1em;
    margin: .3em .1em;
    color: white;
    font-size: .8em;
    font-family: arvo;
    font-weight: normal;
    letter-spacing: .2em;
    text-decoration: none;
    border-radius: .2em;
    text-shadow: 2px 2px 0px rgb(100, 0, 0);
    @include transition(color .2s);
    
    @media screen and (max-width: 900px) {
        font-size: 1em;
        display: block;
    }

    // @media screen and (max-height: 700px) {
    @media screen and (max-height: 43rem) {
        display: inline-block;
    }

    &:before{
        content: '•';
        margin-top: .7rem;
        margin-right: .5rem;
    }
}

#section-2-img-bottom{
    position: absolute;
    left: -5em;
    bottom: -10em;
    width: 35em;
    max-width: 500px;
    z-index: 0;
    // @include transform(scale(0.9));

    @media screen and (max-width: 800px) {
        @include transform(scale(0.75));
    }
    
    @media screen and (max-width: 630px) {
        display: none;
    }
}

#view-american_brownie{
    img{
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 70vw;
        max-width: 700px;
        z-index: 0;
    }
}

#view-american_chocolate-chip, #view-american_tiramisu{
    img{
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 50vw;
        max-width: 600px;
        z-index: 0;
    }
}

#view-american_red-velvet, #view-american_brownie, #view-american_key-lime, #view-american_cheesecake, #view-american_boston-cream, #view-american_smores, #view-american_peach-cobbler{
    img{
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 50vw;
        max-width: 500px;
        z-index: 0;
    }
}

