
#view-frosting{
    font-size: 1rem;

    .frosting-title-icing{
        position: relative;
    }

    h2{
        font-size: 8em;
    }

    h3{
        margin-top: 1em;
        color: rgb(255, 140, 0);
        line-height: 1.5;
        font-size: 1.5em;
        width: 50vw;
        z-index: 3;
    }

    .frosting-title-rotated{
        position: absolute;
        top: 0;
        right: -2.7em;
        color: rgb(255, 140, 0);
        font-family: sofia;
        font-size: 7em;
        z-index: 3;
        @include transform(rotate(-10deg));
    }

    .frosting-item{
        position: absolute;
        font-size: 1.4em;
        color: white;
        font-family: arvo;
        font-weight: normal;
        text-decoration: none;
        text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.7);
        z-index: 2;
    }
}

#view-frosting-img-alton{
    position: absolute;
    bottom: 0;
    right: 70vw;
    width: 20em;
    z-index: 0;
    @include transform-origin(center, bottom);
}

#view-frosting-img-mix-ins{
    position: absolute;
    bottom: 0;
    left: 55vw;
    width: 25em;
    z-index: 0;
    @include transform-origin(center, bottom);
}

#view-frosting-img-whipped{
    position: absolute;
    bottom: 20vh;
    left: 0;
    width: 14em;
    z-index: 0;
    @include transform-origin(left, center);
}

#view-frosting-img-spoon{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15em;
    z-index: 0;
    @include transform-origin(right, bottom);
}

#view-frosting-img-knife{
    position: absolute;
    top: 0;
    right: 0;
    height: 12em;
    z-index: 0;
    @include transform-origin(right, top);
}

.frosting-item--seven{
    left: 8em;
    top: 30%;
}

.frosting-item--alton{
    margin-right: -5em;
    right: 70vw;
    bottom: 5em;
}

.frosting-item--cream{
    right: 13em;
    top: 7em;
}

.frosting-item--swiss{
    right: 5em;
    bottom: 20vh;
}

.frosting-item--mix{
    right: 40vw;
    bottom: 5em;
}


//ALTON

#view-frosting_alton{
    box-sizing: border-box;
    padding: 5rem 2rem;
    font-size: 1.2rem;
    color: white;
    background: url(../assets/images/section-3/alton/AltonBrownPage.jpg);
    background-size: cover;
    background-position: bottom center;

    h2, h3{
        font-family: quicksand, sans-serif;
    }

    h2{
        font-size: 7rem;
        margin-bottom: 1rem;
    }

    p{
        line-height: 1.5;
    }

    .alton-paragraph{
        position: relative;
        margin: auto;
        width: 70vw;
        z-index: 2;

        img{
            float: left;
            margin-right: 1em;
            border: 3px solid white;
            border-radius: 80px;
            -webkit-shape-outside: circle(90px, 90px, 90px);
        }
    }

    .alton-item{
        position: absolute;
        font-size: 2rem;
        color: white;
        font-family: sofia;
        text-decoration: none;

        &:before{
            content: '';
            display: block;
            position: relative;
            width: 60px;
            height: 60px;
            background-image: url('../assets/images/textures/White.png');
            -webkit-mask: url('../assets/images/vector/bubble.svg');
            opacity: 0.7;
            @include transition(-webkit-transform 1s, opacity .2s);
        }
    }
}

#alton-cupacakes-bottom{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    height: 200px;
    width: 100%;
    max-width: 900px;
    z-index: 1;

    @media screen and (max-height: 700px) {
        @include transform(scale(0.75));
    }

    @media screen and (max-height: 600px) {
        @include transform(scale(0.5));
    }

    @media screen and (max-height: 550px) {
        display: none;
    }
}

#alton-item-ganache{
    margin-top: -10%;
    left: 30%;
}

#alton-item-royal{
    right: 0;
    top: 0;
    margin-top: -18%;
    margin-right: 1em;

    &:before{
        left: -2em;
        top: 80px;
    }
}

#alton-item-chiffon{
    bottom: 30%;
    left: 47%;
}

#alton-cupcakes{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 80%;
    margin-left: -40%;
}

//MIX-IN

#view-frosting_mix-ins{
    position: relative;
    background-image: url(../assets/images/textures/Mix-ins_bg.jpg);
    background-size: auto;
    background-position: right top;
    background-repeat: repeat;
    overflow: auto;
}

#view-frostin-mix-in-palette{
    position: absolute;
    // margin-top: 1em;
    padding-bottom: 10%;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    background-image: url(../assets/images/section-3/icing/palette.png);
    background-size: 100%;
    background-position: right top;
    background-repeat: no-repeat;
}

.frosting-mix-item{
    display: block;
    position: absolute;
    font-size: 2em;
    color: white;
    text-align: right;
    font-family: sofia;
    text-decoration: none;
    width: 16%;
    padding-top: 16%;
    
    &:hover{
        color: darken(#d84a1a, 20%);
    }

    span{
        display: block;
        position: absolute;
        padding: .1em; /* fixes font drawing issue */
        width: 100px;
        left: -100%;
    }
}

#frosting-mix-item-honey{
    right: 1%;
    margin-top: 15%;

    span{
        width: auto;
        left: 0px;
        bottom: 100%;
    }
}

#frosting-mix-item-blueberry{
    right: 20%;
    margin-top: 5%;

    span{
        left: -50%;
        bottom: 60%;
    }
}

#frosting-mix-item-stout{
    right: 42%;
    margin-top: 7%;
    span{
        left: -50%;
        bottom: 70%;
    }
}

#frosting-mix-item-almond{
    right: 56%;
    margin-top: 20%;
    span{
        bottom: 70%;
    }
}

#frosting-mix-item-cherry{
    right: 55%;
    margin-top: 40%;
    span{
        bottom: 70%;
    }
}

#frosting-mix-item-peanut{
    right: 35%;
    margin-top: 50%;

    span{
        bottom: -30%;
    }
}

#frosting-mix-item-jam{
    right: 14%;
    margin-top: 47%;

    span{
        width: auto;
        bottom: -20%;
        left: 0;
    }
}

#frosting-mix-in-slides{
    position: absolute;
    box-sizing: border-box;
    right: 18%;
    margin-top: 23%;
    padding-bottom: 25%;
    width: 35%;
    background: rgba(255, 255, 255, 0.5);
    -webkit-clip-path: ellipse(50%, 50%, 50%, 50%);
    @include transition(-webkit-clip-path 1s);

    &.hide{
        -webkit-clip-path: ellipse(50%, 50%, 0, 0%);
    }
}

.frosting-mix-slide{
    display: none;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    padding: 1.5em 1em;
    height: 100%;
    width: 100%;
    overflow: hidden;

    h3{
        margin: 1em 0;
        // font-size: 5vw;
        font-size: 2em;
        color: rgb(216, 74, 26);
    }

    h4{
        font-weight: bold;
        text-transform: uppercase;
        color: rgb(216, 74, 26);
    }

    small{
        display: block;
        font-size: 1em;
        margin: 1em 0;
    }

    p{
        width: 100%;
        height: 100%;
        font-size: 0.6em;
        -webkit-shape-inside: ellipse(50%, 30%, 50%, 50%);
    }
}
