#cover-canvas{
	position: absolute;
    top: -10em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#view-cover{
    h1{
        z-index: 1;
    }

    img{
        z-index: 1;
    }
}
