#timer{
    position: fixed;
    bottom: 40px;
    right: 0;
    z-index: 2;
    @include transform(translateX(200px));

    &.in{
        @include transform(translateX(0px));
    }
}

#timer-btn{
    position: relative;
    height: 6rem;
    width: 4em;
    background-image: url(../assets/images/icons/timer.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #004e71;
    background-blend-mode: overlay;
    background-size: 50%;
    z-index: 1;
    cursor: pointer;
    @include transition(background-color .2s);
    -webkit-clip-path: polygon(100% 0%, 20% 0%, 0px 50%, 20% 100%, 100% 100%);
    -webkit-mask: url(../assets/images/textures/red_texture.png);
}

#timer-ui{
    position: absolute;
    top: 0;
    right: 3em;
    height: 100%;
    width: 10em;
    font-family: sofia;
    font-size: 2rem;
    letter-spacing: .1em;
    color: rgb(200, 37, 63);
    z-index: 0;
    @include transform-origin(right, center);
    @include transition(-webkit-clip-path 1s);
    -webkit-clip-path: polygon(100% 0%, 100% 0%, 95% 50%, 100% 100%, 100% 100%);

    &.in{
        -webkit-clip-path: polygon(100% 0%, 10% 0%, 0% 50%, 10% 100%, 100% 100%);
    }
}

#timer-time{
    position: absolute;
    right: 0;
    box-sizing: border-box;
    padding: 2rem;
    width: 10em;
    height: 100%;
    z-index: 1;
    background-color: white;
    -webkit-clip-path: polygon(100% 100%, 80% 100%, 10% 100%, 0% 50%, 10% 0%, 50% 0%, 100% 0%, 80% 50%);
    -webkit-mask: url(../assets/images/textures/red_texture.png);
}

#timer-pause-btn{
    position: absolute;
    right: 0px;
    height: 100%;
    width: 3em;
    background-color: #79ba13;
    background-image: url(../assets/images/icons/play.svg);
    background-position: 40% center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: 40%;
    cursor: pointer;
    z-index: 2;
    @include transition(background-color .2s);
    -webkit-clip-path: polygon(100% 0%, 20% 0%, 0% 50%, 20% 100%, 100% 100%, 80% 50%);
    -webkit-mask: url(../assets/images/textures/red_texture.png);

    &.play{
        background-image: url(../assets/images/icons/pause.svg);
        background-color: #f2ba19;
    }
}
